body {
  font-family: 'Arial', 'Helvetica Neue';
}

nav ul {
  align-items: center;
  background-color: #cbdcfd;
  margin: 1px;
  width: auto;
  height: 70px;
}

nav li {
  margin-left: 15px;
}

lord-icon {
  height: 40px;
  width: 40px;
}

#Tabla_Empleados,
#Tabla_Clientes {
  width: auto;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  
}

#Tabla_Empleados th,
#Tabla_Clientes th {
  border-bottom: 1px solid rgb(199, 199, 199);
  color: rgb(138, 138, 138);
    background-color: aliceblue;
  
}

#Tabla_Empleados td,
#Tabla_Clientes td {

  font-weight: 550;
}

footer {
  background-color: rgb(203, 220, 253);
  position: fixed;
  min-height: 100px;
  max-height: 200px;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 999; 
}