body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #3AAFa9 10%, transparent 11%);
        background-size: 3em 3em;
        background-color: #DEF2F1;
        opacity: 1;
    font-family: 'Montserrat', 'Lato', 'Playfair Display', 'Roboto', 'Avenir', sans-serif;
}




div.container {
    text-align: center;
    height: 590px;
    width: 330px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    background-color: rgba(229, 255, 254,0.85);
    border: 1px solid #90fff6;
}

h2{
    font-weight: 600;
}
input,
select {
    width: 180px;
}

form label {
    padding: 2px;
    font-weight: 550;
}

div#errorMessage {
    width: 200px;
}