html{
    min-width: 720px;
}

body{
    font-family: 'Montserrat', 'Lato', 'Playfair Display', 'Roboto', 'Avenir', sans-serif;
}

nav {
    background-color: rgb(255, 208, 216);
    padding-left: 200px;
    padding-right: 200px;
}

.nav-item {
    flex: 1;
    text-align: center;
}


lord-icon{
    height: 55px;
    width: 45px;
}

ul.nav {
    align-items: center;
}

ul.nav li {
    margin: 5px;
}

#img_logo{
    max-width: 70px;
    aspect-ratio: 1/1;
}

div#carrusel_IMG div img {
    max-height: 800px;
    aspect-ratio: 16/9;
    align-self: center;
    object-fit: fill;
}

.custom-search {
    width: 400px;
    height: 45px;
    max-width: 500px;
}

#Tabla_Productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    width: 300px;
}

#img_product {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 350px;
    aspect-ratio: 9/16;
}

footer .foot {
    background-color: rgb(255, 208, 216);
    height: 170px;
    justify-content: center;
}

footer .foot li{
    padding: 10px;
    border-right:  5px solid rgb(255, 121, 121);
    border-radius: 5px;
}

footer .foot li:last-child {
    border-right: none;
  }