body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/05.jpg');
    background-size: cover;
}

.container {
    width: 300px;
    height: 430px;
    border: 1px solid #ccc;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(240, 240, 240, 0.9);

}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    display: block;
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 40%;
}