body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://static.vecteezy.com/system/resources/previews/024/812/547/original/landscape-minimalist-modern-simple-aesthetic-natural-feel-vector.jpg');
    background-size: cover;
    font-family: 'Montserrat', 'Lato', 'Playfair Display', 'Roboto', 'Avenir', sans-serif;
}

div.container {
    text-align: center;
    height: 700px;
    width: 330px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    background-color: rgba(233, 194, 255, 1);
    border: 1px solid #c379da;
}

input,
select {
    width: 200px;
    text-align: center;
}

form label {
    padding: 3x;
    font-weight: 550;
}

div#errorMessage {
    width: 200px;
}

img#imagenProducto {
    height: 88px;
    aspect-ratio: 1/1;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    max-height: 88px;
}