body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('https://www.bhmpics.com/downloads/blue-minimalist-Wallpapers/6.wp8063327.jpg');
    background-size: cover;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.container {
    width: 300px;
    height: 480px;
    border: 1px solid #6883fd;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(194, 226, 255, 0.95);
}