body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    opacity: 1;
    background-image: radial-gradient(#000000 1.6500000000000001px, transparent 1.6500000000000001px), radial-gradient(#000000 1.6500000000000001px, #f9f9f9 1.6500000000000001px);
    background-size: 66px 66px;
    background-position: 0 0, 33px 33px;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.container {
    width: 300px;
    height: 480px;
    border: 1px solid #ccc;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(240, 240, 240, 1);
}

h2 {
    font-weight: 700;
}