body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(76, 63, 145);
    background: linear-gradient(90deg, rgba(76, 63, 145, 1) 0%, rgba(113, 66, 165, 1) 53%, rgba(164, 79, 205, 1) 100%);
    font-family: 'Montserrat', 'Lato', 'Playfair Display', 'Roboto', 'Avenir', sans-serif;
}

div.container {
    text-align: center;
    height: 600px;
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    background-color: #ffeff2;
    border: 5px solid #B958A5;
}

h4 {
    font-weight: 600;
    color: #661a58;
}

label {
    font-weight: 400;
    padding: 3px;
    font-weight: bold;
    color: black;
}


form label {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #AD88C6;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.descripcion-IMP {
    overflow-wrap: break-word;
    overflow-y: auto;
    overflow-x: scroll;
    width: 300px;
    max-height: 100px;
}

textarea#descripcion_imp {
    width: 200px;
    height: auto;
    form-sizing: content;
}